@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Garamond';
  font-weight: 400;
  font-style: normal;
  src: url('static/fonts/EBGaramond-Regular.ttf');
}

@font-face {
  font-family: 'Garamond';
  font-weight: 400;
  font-style: italic;
  src: url('static/fonts/EBGaramond-Italic.ttf');
}

*::selection {
  background-color: navajowhite;
}

html {
  font-family: 'Garamond', serif;
}

body {
	/* -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */
}

.link {
  @apply px-px pb-px border-b border-gray-400;
}

.link:hover {
 @apply bg-gray-400 text-black;
}
