@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-light {
  --background-primary: theme("colors.white");

  --copy-primary: theme("colors.black");
  --copy-secondary: theme("colors.gray.700");

  --accent-primary: theme("colors.red.700");
}

.theme-dark {
  --background-primary: theme("colors.black");

  --copy-primary: theme("colors.white");
  --copy-secondary: theme("colors.gray.500");

  --accent-primary: theme("colors.yellow.600");
}

*::selection {
  background-color: lightblue;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.link {
  @apply px-1 pb-px bg-copy-primary text-background-primary;
}

.link:hover {
 @apply bg-accent-primary text-white;
}
