---
layout: layouts/base.njk
---

<main class="container px-4 py-12 max-w-xl mx-auto lg:max-w-3xl text-xl">

  <div id="cv">
    <a href="/">
      <svg class="fill-current text-white inline-block w-4 h4 hover:text-red-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><polygon points="3.828 9 9.899 2.929 8.485 1.515 0 10 .707 10.707 8.485 18.485 9.899 17.071 3.828 11 20 11 20 9 3.828 9"/></svg>
    </a>

    <div class="mt-24">
      <h3 class="uppercase tracking-wide text-red-600 font-semibold text-sm">
        Berufserfahrung
      </h3>

      <div class="mt-4">
        <h4 class="text-3xl leading-tight mb-2">
          Web Developer
        </h4>
        <div class="flex justify-start text-gray-600 text-base flex-col lg:flex-row">
          <div>
            upljft GmbH
          </div>
          <div class="mx-4 hidden lg:flex">·</div>
          <div>
            20354 Hamburg
          </div>
          <div class="mx-4 hidden lg:flex">·</div>
          <div>
            06.2018 – heute
          </div>
        </div>
        <ul class="mt-6 text-gray-400">
          <li class="mb-4">
            Frontend Entwicklung responsiver Websites und Landingpages in semantischem HTML5, CSS3 und JS / jQuery – Foundation 6 und BE(V)M
          </li>
          <li class="mb-4">
            Konfiguration und Pflege von Craft CMS, Expression Engine und Wordpress
          </li>
          <li class="mb-4">
            Integration von Frontend Templates in Laravel, vue, nuxt
          </li>
          <li class="mb-4">
            git (Bitbucket, Github, Gitlab) npm, composer, gulp, webpack, SCSS, postcss, Tailwind CSS
          </li>
        </ul>
      </div>

      <div class="mt-24">
        <h4 class="text-3xl leading-tight mb-2">
          Frontend Developer
        </h4>
        <div class="flex justify-start text-gray-600 text-base flex-col lg:flex-row">
          <div>
            ePages GmbH
          </div>
          <div class="mx-4 hidden lg:flex">·</div>
          <div>
            20355 Hamburg
          </div>
          <div class="mx-4 hidden lg:flex">·</div>
          <div>
            06.2017 – 05.2018
          </div>
        </div>
        <ul class="mt-6 text-gray-400">
          <li class="mb-4">
            Mitentwicklung der Corporate Website <a href="https://epages.com/de/" target="_blank" class="link">epages.com</a> mit Hilfe des Static Site Generators Jekyll
          </li>
          <li class="mb-4">
            Redesign und Umsetzung des firmeneigenen Developer-Portals <a href="https://developer.epages.com/" target="_blank" class="link">developer.epages.com</a> und der API Dokumentation in Jekyll
          </li>
          <li class="mb-4">
            Redesign und Frontend Adaption der intern in Ruby on Rails entwickelten App für ePages Händler "Sales Analytics"
          </li>
        </ul>
      </div>

      <div class="mt-24">
        <h4 class="text-3xl leading-tight mb-2">
          Ausbildung zum Mediengestalter Digital und Print
        </h4>
        <div class="flex justify-start text-gray-600 text-base flex-col lg:flex-row">
          <div>
            ePages GmbH
          </div>
          <div class="mx-4 hidden lg:flex">·</div>
          <div>
            20355 Hamburg
          </div>
          <div class="mx-4 hidden lg:flex">·</div>
          <div>
            08.2015 – 06.2017
          </div>
        </div>
        <ul class="mt-6 text-gray-400">
          <li class="mb-4">
            Mitverantwortlich für die Ausarbeitung des neuen Corporate Design inklusive Logo-Gestaltung
          </li>
          <li class="mb-4">
            Instandhaltung und Betreuung der firmeneigenen Website epages.com sowie einzelner Microsites und Landingpages
          </li>
          <li class="mb-4">
            Gestalten von Bannern und Grafiken
          </li>
        </ul>
      </div>
    </div>


    <div class="mt-24">
      <h3 class="uppercase tracking-wide text-red-600 font-semibold text-sm">
        Schulische Ausbildung
      </h3>

      <div class="mt-4">
        <h4 class="text-3xl leading-tight mb-2">
          Staatlich geprüfter Assistent für Screendesign
        </h4>
        <div class="flex justify-start text-gray-600 text-base flex-col lg:flex-row">
          <div>
            bmk Hamburg
          </div>
          <div class="mx-4 hidden lg:flex">·</div>
          <div>
            22049 Hamburg
          </div>
          <div class="mx-4 hidden lg:flex">·</div>
          <div>
            08.2013 – 07.2015
          </div>
        </div>
        <ul class="mt-6 text-gray-400">
          <li class="mb-4">
            Erste Berührungspunkte mit HTML, CSS, JavaScript und der Adobe Creative Cloud. Grundlagen des Grafik- und Webdesigns sowie der Projektorganisation.
          </li>
        </ul>
      </div>

      <div class="mt-24">
        <h4 class="text-3xl leading-tight mb-2">
          Studium der Geographie
        </h4>
        <div class="flex justify-start text-gray-600 text-base flex-col lg:flex-row">
          <div>
            Johannes Gutenberg-Universität Mainz
          </div>
          <div class="mx-4 hidden lg:flex">·</div>
          <div>
            55122 Mainz
          </div>
          <div class="mx-4 hidden lg:flex">·</div>
          <div>
            10.2010 – 10.2012
          </div>
        </div>
        <ul class="mt-6 text-gray-400">
          <li class="mb-4">
            Vier Semester Geographie ohne Abschluss
          </li>
        </ul>
      </div>

      <div class="mt-24">
        <h4 class="text-3xl leading-tight mb-2">
          Abitur
        </h4>
        <div class="flex justify-start text-gray-600 text-base flex-col lg:flex-row">
          <div>
            Geschwister Scholl-Gymnasium Daun
          </div>
          <div class="mx-4 hidden lg:flex">·</div>
          <div>
            54550 Daun
          </div>
          <div class="mx-4 hidden lg:flex">·</div>
          <div>
            08.2006 – 04.2010
          </div>
        </div>
        <ul class="mt-6 text-gray-400">
          <li class="mb-4">
            Abschluss in den Fächern Englisch, Geographie und Biologie
          </li>
        </ul>
      </div>
    </div>
  </div>

</main>