---
layout: layouts/base.njk
---

<main class="container p-4 text-sm w-screen h-screen mx-auto flex flex-col justify-center content-center">

  <div id="bio" class="flex items-center md:items-end justify-center flex-col text-center md:text-left md:flex-row">
    <img class="w-48 md:w-64 h-auto mb-4 md:mr-8 md:mb-0 border-solid border border-gray-900" src="static/images/pass.jpg" alt="Christoph Müller">
    <div class="flex flex-col justify-center | border-solid border border-gray-900 bg-alpine p-6 -mb-6">
      <h2 class="tracking-wide text-xl leading-none mb-2">
        Christoph Müller
      </h2>
      <h2 class="tracking-wide">
        Frontend Development – UX Engineering<br/> CSS Architecture – Design Systems
      </h2>
      <div class="mt-3 flex justify-center md:justify-start text-base">
        <div class="flex">
          <a class="hover:text-accent-primary" href="mailto:mail@christophmueller.dev">hi</a>
        </div>
        <div class="flex ml-6">
          <a class="hover:text-accent-primary" href="https://twitter.com/keuriseutopeu" target="_blank">tw</a>
        </div>
        <div class="flex ml-6">
          <a class="hover:text-accent-primary" href="https://github.com/Gristof" target="_blank">gh</a>
        </div>
        <div class="flex ml-6">
          <a class="hover:text-accent-primary" href="https://www.xing.com/profile/Christoph_Mueller450/cv" target="_blank">x</a>
        </div>
        <div class="flex ml-6">
          <a id="cv-toggle" class="hover:text-accent-primary" href="/cv">cv</a>
        </div>
      </div>
    </div>
  </div>

</main>
