---
layout: layouts/base.njk
---

<main class="container p-4 text-sm w-screen h-screen mx-auto flex flex-col justify-center content-center">

  <div id="bio" class="flex items-center md:items-end justify-center flex-col text-center md:text-left md:flex-row">
    <img class="w-32 md:w-64 h-auto mb-4 md:mr-8 md:mb-0" src="static/images/christoph-mueller.jpeg" alt="Christoph Müller">
    <div class="flex flex-col justify-center">
      <h2 class="tracking-wide text-xl leading-none">
        Christoph Müller
      </h2>
      <h2 class="tracking-wide">
        Frontend Developer
      </h2>
      <div class="mt-3 flex justify-center md:justify-start text-base">
        <div class="flex">
          <a class="hover:text-red-400" href="mailto:muchrist720@gmail.com">hi</a>
        </div>
        <div class="flex ml-6">
          <a class="hover:text-red-400" href="https://twitter.com/grstf_" target="_blank">tw</a>
        </div>
        <div class="flex ml-6">
          <a class="hover:text-red-400" href="https://github.com/Gristof" target="_blank">gh</a>
        </div>
        <div class="flex ml-6">
          <a class="hover:text-red-400" href="https://www.xing.com/profile/Christoph_Mueller450/cv" target="_blank">x</a>
        </div>
        <div class="flex ml-6">
          <a id="cv-toggle" class="hover:text-red-400" href="/cv">cv</a>
        </div>
      </div>
    </div>
  </div>

</main>
