<footer>
  This website was built with <a class="border-b text-gray-900 border-gray-900 pb-1" href="">TailwindCSS</a> and <a class="border-b text-gray-900 border-gray-900 pb-1" href="">11ty</a>
</footer>